# Folders
data/archive
data/controls
data/elections
data/geodata
data/gtrends
data/
figures/
tables/

# Mac Finder Configurations
**/.DS_Store

# IPython checkpoints
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# Tables
.rtf
.tex 

# R 
.RData
.Rhistory

# Figures
.png
