# Folders
data/archive
data/controls
data/elections
data/geodata
data/gtrends

# Mac Finder Configurations
**/.DS_Store

# IPython checkpoints
.ipynb_checkpoints/

# Visual Studio Code
.vscode/

# .rtf Tables
.rtf

# R 
.RData/
.Rhistory
